<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Thư viện-->  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!--Icon-->
    <link rel = "icon" href = "/imgs/icon/icon.png"  type = "image/x-icon">
    <!--CSS-->
    <link href="/css/style-tintuc.css" rel="stylesheet" type="text/css">
    
    <!--JS-->
    <script src="/js/js-tintuc.js"></script>
    <title>Tin Tức</title>
</head>
<body>
        
        <%- include('./_layouts/header')-%>

        <div class="text-box">
            <h1>Tin Tức Nhật Bản</h1>
            <p>Cùng tìm hiểu đôi Nét Về Xứ sở hoa anh đào – Xứ phù Tang – Đất Nước Mặt Trời Mọc để có thể biết được ý nghĩa 
                đằng sau những cái tên thú vị này.
            </p>
            <a href="#tintuc" class="hero-btn">Let's Go</a>
        </div>
    </section>

    <!-- Tin tức chính -->
    <section id="tintuc" class="tintuc">
        <h1>Một số tin tức chính</h1>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        
        <div class="tintuc-main">
            <div class="left">
                <div class="left-up">
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/ngamhoa.png" alt="">
                        <h3>Ngắm hoa anh đào</h3>
                    </div>
                </div>
                <div class="left-down">
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/ngamhoa.png" alt="">
                        <h3>Ngắm hoa anh đào</h3>
                    </div>
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/ngamhoa.png" alt="">
                        <h3>Ngắm hoa anh đào</h3>
                    </div>
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/ngamhoa.png" alt="">
                        <h3>Ngắm hoa anh đào</h3>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="tintuc-listmain">
                    <img src="/imgs/tintuc/ngamhoa.png" alt="">
                    <h3>Ngắm hoa anh đào</h3>
                </div>
                <div class="tintuc-listmain">
                    <img src="/imgs/tintuc/ngamhoa.png" alt="">
                    <h3>Lễ hội múa Bon</h3>
                </div>
                <div class="tintuc-listmain">
                    <img src="/imgs/tintuc/ngamhoa.png" alt="">
                    <h3>Truyền thống Kimono</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="vanhoa">
        <h1>Một số tin tức</h1>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        
        <div class="row">
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/ngamhoa.png" alt="">
                <h3>Ngắm hoa anh đào</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/lehoibon.png" alt="">
                <h3>Lễ hội múa Bon</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/kimono.png" alt="">
                <h3>Truyền thống Kimono</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
        </div>
        <div class="row">
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/ngamhoa.png" alt="">
                <h3>Ngắm hoa anh đào</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/lehoibon.png" alt="">
                <h3>Lễ hội múa Bon</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/kimono.png" alt="">
                <h3>Truyền thống Kimono</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
        </div>
    </section>
    
    <%- include('./_layouts/footer')-%>
</body>
</html>